.container{
    width:1300px;
    height:700px;
    background-image:url("assets/background.jpg");
    background-repeat: no-repeat;
    margin: 80px;
    margin-top: 0;
    margin-bottom: 0;
}

button{
    background-color: #a71c1c; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-radius: 8px;
    width: 170px;
    height: 60px;
    float:inherit;
}

body{
    background-image: url("assets/green_yellow_pattern.jpg");
     
}


.btngroup button:not(:last-child) {
    border-right: none;
}


    

.btngroup button:hover {
    background-color: #f2c320;
}
.btngroup{
    margin-top: 500px;
    position: absolute;
    margin-left: 400px;
}

.btnmodal{
        background-color: #a71c1c; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-radius: 8px;
    width: 300px;
    height: 60px; 
    margin-bottom: 10px;
    
}
.btnmodal:hover {
    background-color: #f2c320;
}
.group{
     
    width: 300px;
    display: inline-block;
    float: left;
    margin-right: 50px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
        background-image: url("assets/green_yellow_pattern.jpg");

}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myimg {
    position: relative;
    -webkit-animation: mymove 1s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 1s infinite;
}
@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 10px;}
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 10px;}
}

.picdivv{
  
   width: 1200px;
   height: 1600px;
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 20px;
   margin-bottom:3%;
   
}
.picvv{

  float: left;
  position: relative;
  overflow:hidden;
    margin-bottom: 70px;
}

div.picvv img.picdiv{

  width: 300px;
  height: 200px;

}
figcaption{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #a71c1c;
}

figcaption img{
    position: absolute;
    margin-left: 5px;
}
